body {
  background-color: #f3f4f4;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  box-shadow: 6px 7px 10px 10px lightgray;
  border-radius: 1rem;
  margin: 5vh auto;
}

.form-left-section {
  flex-basis: 38%;
  display: flex;
  background-color: #00c295;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 0rem 0rem 1rem;
}

.form-right-section {
  flex-basis: 62%;
  display: flex;
  background-color: #ffffff;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 2rem;
}

.left-cont {
  margin: 3vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  cursor: pointer;
  color: white;
  background-color: #00c295;
  align-self: center;
  border-radius: 3rem;
  height: 4rem;
  width: 15rem;
}

.btn-left {
  border-color: #f3f4f4;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5rem;
}
.password-container {
  display: flex;
  justify-content: space-between;
}

.password {
  flex-basis: 48%;
}
.repeat-password {
  flex-basis: 48%;
}

.scroll-down-container {
  display: flex;
  justify-content: space-between;
}

.gender {
  flex-basis: 48%;
}
.role {
  flex-basis: 48%;
}

.btn-right {
  border-color: #f3f4f4;
}
